<p id="notice"><%= notice %></p>

<p>
  <strong>Starting price:</strong>
  <%= @bid.starting_price %>
</p>

<p>
  <strong>Current bid:</strong>
  <%= @bid.current_bid %>
</p>

<p>
  <strong>Max bid:</strong>
  <%= @bid.max_bid %>
</p>

<p>
  <strong>End date:</strong>
  <%= @bid.end_date %>
</p>

<p>
  <strong>Product:</strong>
  <%= @bid.product %>
</p>

<p>
  <strong>User:</strong>
  <%= @bid.user %>
</p>

<%= link_to 'Edit', edit_bid_path(@bid) %> |
<%= link_to 'Back', bids_path %>
