<h2 class="ui center aligned icon header">
   <i class="tags icon"></i>
   Categories
</h2>

<%= will_paginate @collection, renderer: BootstrapPagination::Rails, inner_window: 1, outter_window: 1 %>

<table class="ui selectable striped celled table">
   <thead>
      <tr>
         <th>
            Name
         </th>
         <th colspan="3">Actions</th>
      </tr>
   </thead>
   <tbody>
      <% @categories.order('name').each do |category| %>
      <tr>
         <td>
            <h4>
               <%= link_to category.name, category_list_path(category.name) %>
            </h4>
         </td>
         <td>
            <%= link_to new_category_path(:parent_id => category), class:'ui basic circular button blue' do %> <i class="plus icon"></i> <%= "Add SubCategory"  %><% end %>
         <% if current_user != nil && current_user.role == 'ADMIN' %>
            <%= link_to edit_category_path(category), :class=>  "ui green basic circular button" do %> <i class="edit icon"></i> <%= "Edit"  %> <% end %>
            <%= link_to category, method: :delete, data: { confirm: 'Are you sure?' }, :class=>  "ui red basic circular button" do %> <i class="trash outline icon"></i> <%= "Delete" %> <% end %>
         </td>
            <% end %>
         </tr>
         <% end %>
      </tbody>
   </table>

   <p>
      <%= link_to new_category_path, class:'button ui basic inverted blue' do %> <i class="plus icon"></i> <%= "New category"  %><% end %>
   </p>

   <%= will_paginate @collection, renderer: BootstrapPagination::Rails, inner_window: 1, outter_window: 1 %>
