<p id="notice"><%= notice %></p>

<div class="ui card centered">
<div class="content">
  <img class="ui avatar image" src="http://semantic-ui.com/images/avatar/large/elliot.jpg">
  <span class="text-center"><%= @product.title %></span>
</div>
<div class="image">
  <img src="http://lorempixel.com/499/499/technics" />
</div>
<div class="content">
  <span class="right floated">
      <%= @product.price %>
    <i class="euro icon"></i>
  </span>
</div>
<div class="extra">
  Rating :<%= rating_for @product, "product", :half_show => true %>
</div>
<div class="extra">
    <%= link_to @product, :class=>  "ui blue circular basic button" do %> <i class="user icon"></i> <%= "Show"  %><% end %>
    <% if current_user != nil && current_user.role == 'ADMIN' || current_user != nil && current_user.id == @product.user_id %>
    <%= link_to edit_product_path(@product), :class=>  "ui blue basic circular button" do %> <i class="edit icon"></i><%= "Edit"  %><% end %>
    <%= link_to @product, method: :delete, data: { confirm: 'Are you sure?' }, :class=>  "ui red basic circular button" do %> <i class="trash outline icon"></i><%= "Del"  %><% end %>
    <% end %>
</div>
</div>

<div>
<%= link_to "Back", :back, :class=>  "ui blue inverted basic button" %>
</div>
