<!-- ==================================== -->
<!-- =========  PRODUCT DETAILS ========= -->
<!-- ==================================== -->

<div class="ui card centered">
   <div class="content">
      <img class="ui avatar image" src="http://random-octodex.herokuapp.com/random">
      <span class="text-center"><%= @product.title %></span>
   </div>
   <div class="image">
      <img src="<%= @product.image %>" />
   </div>
   <div class="content">
      Buy it now
      <span class="right floated">
         Price :
         <%= @product.price %>
         <i class="euro icon"></i>
      </span>
   </div>
   <div class="content">
      Posted : <strong class='right floated'><%= @product.created_at.strftime("%d %b. %Y") %> </strong>
   </div>
   <div class="content">
      <% if current_user != nil && current_user.id == @product.user_id %>
      <%= rating_for @product, "product", readonly: true, half_show: true %>
      <% else %>
      Rating : <strong class='right floated'></strong><%= rating_for @product, "product", :half_show => true %> </strong>
      <% end %>
   </div>
   <div class="content">
      <%= link_to @user do %> <i class="user icon"></i> <%= @user.first_name %> <%= @user.last_name %> <% end %>
      <br>
   </div>
   <% if current_user != nil && current_user.role == 'ADMIN' || current_user != nil && current_user.id == @product.user_id %>
   <div class="extra">
      <%= link_to edit_product_path(@product), :class=>  "ui blue basic circular button" do %> <i class="edit icon"></i><%= "Edit"  %><% end %>
      <%= link_to @product, method: :delete, data: { confirm: 'Are you sure?' }, :class=>  "ui red basic circular button" do %> <i class="trash outline icon"></i><%= "Del"  %><% end %>
   </div>
   <% end %>
</div>

<!-- ================================== -->
<!-- ========= HIGHEST BIDDER ========= -->
<!-- ================================== -->

<div class="ui cards">
   <div class="card">
      <div class="content">
         <h4 class='header'>Current highest bidder
         </h4>
      </div>
      <div class="content">
         <img class="right floated mini ui image" src="http://random-octodex.herokuapp.com/random">
         <div>
            <h4><%= User.where(id: @bids[0].user_id)[0].first_name %></h4>
         </div>
      </div>
      <div class="content">
         Current price : <h4 class='ui label basic teal'><strong><%= @product.current_price %> <i class="euro icon"></i></strong></h4>
      </div>
      <div class="content">
         <div id='starting_time'>
            Auction start :
            <p>
               <%= @product.created_at.strftime("%m/%d/%Y %I:%M") %>
            </p>
         </div>
         <div id='ending_time'>
            Auction end :
            <p>
               <%= @product.end_date.strftime("%m/%d/%Y %I:%M") %>
            </p>
         </div>
      </div>
      <div class='content'>
         <div class='red basic ui label'>Remaining time
         </div>
         <div id="countdown"></div>
      </div>
   </div>
</div>

<!-- =========================== -->
<!-- ========= BIDDING ========= -->
<!-- =========================== -->

<% if current_user != nil %>
<h3 class="ui dividing header">Place your bid</h3>
<%= form_tag "/products/add_new_bid" do %>
<form class="ui reply form">
   <div class="field">
      <%= hidden_field_tag "id", @product.id %>
      <%= text_field_tag (:max_bid)  %>
      <%= button_tag(type: "submit", class: "ui green icon button") do %>
      Bid
      <% end %>
   </div>
</form>
<% end %>
<% end %>

<table class="ui selectable striped celled table">
   <thead>
      <th>
         Starting price
      </th>
      <th>
         Buy it now
      </th>
      <th>
         Current price
      </th>
   </thead>
   <tbody>
      <tr>
         <td>
            <%= @product.starting_price %> <i class="euro icon"></i>
         </td>
         <td>
            <%= @product.price %> <i class="euro icon"></i>
         </td>
         <td>
            <% if @product.current_price != nil %>
            <% if @bids.length > 1 %>
            <% @product.update_attributes(current_price: @bids[1].max_bid+1) %>
            <%= @product.current_price %> <i class="euro icon"></i>
            <% elsif @bids.length == 1 %>
            <%= @product.current_price + 1%> <i class="euro icon"></i>
            <% else %>
            <%= @product.current_price %> <i class="euro icon"></i>
            <%end %>
            <% else %>
            No auction yet
            <% end %>
         </td>
      </tr>
   </tbody>
</table>


<!-- ============================ -->
<!-- ========= COMMENTS ========= -->
<!-- ============================ -->

<% @commentable = @product %>
<% @comments = @commentable.comments.recent.limit(10).all %>

<h3 class="ui dividing header"> Latest Comments</h3>
<div class="ui comments">
   <% @comments.each do |c| %>
   <% if c != nil %>
   <div class="comment">
      <p class="avatar">
         <%= link_to user_path(c.user_id) do %>
         <img src="https://random-octodex.herokuapp.com/random">
         <% end %>
      </p>
      <div class="content">
         <%= link_to User.find(c.user_id).first_name, user_path(c.user_id) %>
         <div class="metadata">
            <span class="date">on <%= c.created_at.strftime("%A %d %b. %Y  %k:%M:%S") %></span>
            <p><%= rating_for_user @product, User.find(c.user_id), 'product', readonly: true %></p>
         </div>
         <div class="text">
            <%= c.comment %>
         </div>
      </div>
   </div>
   <% end %>
   <% end %>
   <br>

   <% if current_user != nil %>
   <%= form_tag "/products/add_new_comment" do %>
   <form class="ui reply form">
      <div class="field">
         <%= hidden_field_tag "id", @product.id %>
         <%= text_area_tag (:comment)  %>
      </div>
      <div>
         <%= button_tag(type: "submit", class: "ui blue icon button") do %>
         <i class="icon edit"></i> Send review
         <% end %>
      </div>
   </form>
   <% end %>
   <% end %>
</div>
<br>

<div>
   <%= link_to "Back", :back, :class=>  "ui blue inverted basic button" %>
</div>
